Conference Proceeding/Aa.Vv._2017_Proceedings of the 10th International Conference on EDM 2017.pdf
Conference Proceeding/Barnes, Chi, Eds_2016_Proceedings of the 9th International Conference on Educational Data Mining, EDM 2016.pdf
Conference Proceeding/Boyer, Eds_2018_Proceedings of the 11th International Conference on Educational Data Mining, EDM 2018.pdf
Conference Proceeding/Boticario et al._2015_Educational Data Mining 2015 8th International Conference on Educational Data Mining.pdf
Conference Proceeding/Lane, Goebel_2013_LNAI 7926 - Artificial Intelligence in Education.pdf
